@media (max-width: 1545px){
    .desctop-aircraft{
        width: 200px;
    }
}

@media (max-width: 1530px){
    .phone-container {
        width: 630px;
    }
    .phone-img{
        left: -227px;
    }
    .google-ico{
        left: 33%;
        width: 145px;
    }
    .yandex-ico{
        width: 130px;
    }
    .funnel-ico{
        right: -8px;
        width: 200px;
    }
}

@media (max-width: 1451px){
    .desctop-aircraft{
        width: 170px;
        top: 56%;
    }
}

@media (max-width: 1330px){
    .desctop-aircraft{
        width: 150px;
        top: 60%;
    }
}

@media (max-width: 1300px){
    .phone-img{
        left: -115px;
        top: -15px;
        width: 950px;
    }
    .google-ico{
        left: 41%;
        width: 140px;
    }
    .yandex-ico{
        left: 27%;
        width: 125px;
    }
    .funnel-ico{
        right: -9px;
        width: 185px;
    }
}

@media(max-width: 1290px){
    .card-img-table{
        width: 190px !important;
    }
    .card-img-guarantee {
        width: 115px !important;
    }
}

@media(max-width: 1200px){
    .btn-test{
        font-size: 13px;
        padding: 20px 35px;
    }
    .btn-test-ofer{
        font-size: 14px;
    }
    .ofer img {
        margin-right: 10px;
        width: 65px;
    }
    .ofer p {
        font-size: 16px;
    }
    .card-text{
        font-size: 14px;
    }
}

@media(max-width: 1100px){
    h1{
        font-size: 24px;
        line-height: 45px;
    }
    .ofer img{
        width: 65px;
    }
    .ofer p{
        font-size: 16px;
    }
    .btn-test-ofer {
        font-size: 12px;
    }
    .btn-test {
        font-size: 12px;
        padding: 15px 10px;
        letter-spacing: 1px;
    }
    .phone-img {
        left: 94px;
        top: -35px;
        width: 690px;
    }
    .google-ico{
        left: 57%;
        width: 100px;
    }
    .yandex-ico{
        left: 53%;
        bottom: 433px;
        width: 85px;
    }
    .funnel-ico{
        top: 97px;
        width: 145px;
    }
    .card-container{
        margin: 40px 35px 0 !important;
    }
    .card-img-table {
        width: 215px !important;
    }
    .desctop-aircraft{
        top: 55%;
    }
}

@media(max-width: 992px){
    .desctop-aircraft{
        top: 45%;
    }
}


@media(max-width: 900px){
    .mobile-aircraft{
        width: 125px;
        right: -80px;
    }
}

@media(max-width: 768px){
    .phone-container {
        width: 740px;
        top: 400px;
    }
    .mobile-margin-b{
        margin-bottom: 385px !important;
    }
    .phone-img{
        left: 80px;
    }
    .google-ico{
        left: 340px;
    }
    .yandex-ico{
        left: 300px;
    }
    .funnel-ico{
        top: 158px;
        right: 65px;
    }
    .card{
        margin: 15px 0;
    }
    .desctop-aircraft{
        display: none;
    }
    .mobile-aircraft{
        display: block;
    }
}

@media(max-width: 600px){
    .card-container {
        margin: 40px 74px 0 !important;
    }
}

@media(max-width: 576px){
    .phone-container{
        top: 520px;
    }
    .btn-test::before{
        top: 37px;
        right: 204px;
        transform: rotate(-8deg);
    }
    .logo{
        margin: 0 auto;
    }
}

@media (min-width: 768px) and (max-width: 992px){
    .social-box{
        flex-wrap: wrap;
    }
    .social-box p{
        text-align: center;
        width: 100%;
    }
    .phone-num{
        font-size: 13px;
    }
}

@media (max-width: 768px) {
    .phone-num{
        font-size: 18px;
    }
    .card::after{
        right: 32%;
    }
    .card-table::after{
        right: 25%;
    }
}

@media(max-width: 520px){
    .phone-img {
        left: 160px;
    }
    .funnel-ico{
        right: 0;
    }
    .google-ico{
        left: 420px;
    }
    .yandex-ico {
        left: 380px;
    }
    .card::after{
        right: 22%;
    }
    .card-table::after{
        right: 16%;
    }
}

@media (max-width: 420px){
    h1{
        font-size: 25px;
        line-height: 30px;
        text-align: center;
    }
    .phone-container {
        top: 450px;
    }
    .mobile-aircraft{
        width: 115px;
        right: -60px;
    }
}
@media (max-width: 400px){
    .phone-img{
        width: 600px;
        left: 268px;
        top: 30px;
    }
    .funnel-ico{
        width: 120px;
    }
    .google-ico{
        top: 70px;
        left: 520px;
        width: 80px;
    }
    .yandex-ico {
        width: 65px;
        left: 475px;
    }
    .mobile-aircraft {
        width: 85px;
        right: -35px;
        top: -25px;
    }
    .card-container {
        margin: 40px 40px 0 !important;
    }
    .phone-num{
        font-size: 16px;
    }
    h1 {
        font-size: 20px;
    }
}